
<footer class="p-5 md-p-l5 bg-indigo-lightest-10">
    <div class="flex flex-wrap">
      
        <div class="w-100pc md-w-50pc">
            <div class="flex justify-around">
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Company</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                Us</a></li>
                        <li class="my-3"><a href="#"
                                            class="white opacity-70 no-underline hover-underline">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>