<nav class="main-navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-logo-link">
            <h1 class="navbar-logo-text"><span class="navbar-logo-highlight">Skill</span> Barter</h1>
        </a>
        <a data-toggle="toggle-nav" data-target="#nav-items" href="#"
           class="mobile-menu-toggle">
            <i data-feather="menu"></i>
        </a>
    </div>
    <div id="nav-items" class="navbar-right-items">
        <a href="/users/<%= user.id %>/dashboard" class="navbar-link">Home</a>
        <a href="/users/logout" class="navbar-button navbar-logout-button">Logout</a>
    </div>
</nav>